/*body {
  background:rgba(150,150,150,0.05);
}*/

.input-field {
  font-size: 1em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em;
  appearance: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  border: 0;
}

.grid-item {
  border: none !important;
}

.checkmarked .green-check:before {
  /*content:"\2714 ";*/
content: "\2714";
  color: var(--green);
  list-style-position: outside;
}

.checkmarked .blue-check:before {
  /*content:"\2714 ";*/
content: "\2714";
  color: var(--blue);
  list-style-position: outside;
}
.checkmarked .purple-check:before {
  /*content:"\2714 ";*/
content: "\2714";
  color: var(--purple);
  list-style-position: outside;
}


.checkmarked {
  list-style: none;
  list-style-position: outside;
  padding: 0;
  line-height: 30px;
}

.pricing-parent {
  height: 100%;
  position: relative;
  margin-top:-5em;
}

.pricing-item {
  height: inherit !important;
}

.pricing-container {
  /*border: 1px solid var(--purple);*/
  padding: 2em;
  bottom: 0;
  height: inherit;
  position: inherit;
  border-radius: 5px;
  width:100%;
  background-color:white;

}

.pricing-container p {
  color:var(--gray);
}

.pricing-free {
  border: 2px solid var(--green);
}

.pricing-free h4, .pricing-free h3, .pricing-free h2, .pricing-free h1 {
  color:var(--green);
}

.pricing-standard {
  border: 2px solid var(--blue);
}

.pricing-standard h4, .pricing-standard h3, .pricing-standard h2, .pricing-standard h1{
  color:var(--blue);
}

.pricing-enterprise {
  border: 2px solid var(--purple);
}

.pricing-enterprise h4, .pricing-enterprise h3, .pricing-enterprise h2, .pricing-enterprise h1 {
  color: var(--purple);
}

.pricing-button {
  bottom: 0 !important;
  position: absolute;
  display:block;
  margin-left:auto !important;
  margin-right:auto !important;
  /*width:calc(inherit/6);*/
  /*left:calc(inherit/6);*/

}

.pricing-divider {
  margin: 2em 0;
  opacity: 0.4;
}

/* ========================
   responsive styling
   ===================== */

@media (min-width: 810px) {
  .checkmarked {
    margin-bottom: 5em;
 }
}

/* this is when the 3 columns starts to break */

@media (max-width: 810px) {
  .checkmarked {
    margin-bottom: 5em;
 }
 
 .pricing-parent {
   height: 100%;
   position: relative;
}
}

@media (max-width: 689px) {
  .pricing-button {
    position: relative;
    width:100%;
 }
 
 .pricing-parent {
   height: inherit;
   position: relative;
}

.pricing-container {
  top: 0;
  height: inherit;
}
}

@media (max-width: 500px) {}

