.input-field {
  font-size: 1em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em;
  appearance: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  border: 0;
}

.grid-item {
  border: none !important;
}

/*.checkmarked li:before {
content: "\2728";
  color: var(--green);
}*/

.checkmarked .green-check:before {
  /*content:"\2714 ";*/

content: "\2714";
  color: var(--green);
  list-style-position:outside;
}

.checkmarked .red-x:before {
  content: "\2715";
  color: var(--red);
  font-weight:bold;
}

.checkmarked {
  list-style:none;
  list-style-position:outside;
  /*padding-left: 0;*/
  padding:0;
  /*padding-left:1em;*/
  line-height: 30px;
}

.pricing-container {
  border: 1px solid var(--purple);
  background-color: white;
  padding: 2em;
}

/* ========================
   responsive styling
   ===================== */

@media (min-width: 810px) {
  .pricing-overflow {
    height: 12em;
    /*background-color: pink;*/
 }
}

/* this is when the 3 columns starts to break */

@media (max-width: 810px) {
  .pricing-overflow {
    height: 15em;
    /*background-color:purple;*/
 }
}

@media (max-width: 689px) {
  .pricing-overflow {
    height: 7em;
    /*background-color:orange;*/
 }
}

@media (max-width: 500px) {
  .pricing-overflow {}
}

